@import url("https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,700");
.btn-shop {
  text-decoration: none;
  font-size: 1rem;
  background: #d92e2e;
  color: white;
  border-radius: 25px;
  border: 1px solid white;
  padding: 5px 20px;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem; }
  @media screen and (min-width: 768px) {
    .btn-shop {
      font-size: 1.6rem;
      border: 2px solid white;
      padding: 15px 55px;
      top: 2.5rem;
      right: 2.5rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* root size is 16 pixels divide 10 by 16 = 62.5%. Always base it off of 62.5%. It's standard. This will scale properly if user changes font-size*/
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  background: url("../img/background.png") no-repeat;
  background-size: 100% auto;
  font-family: "Frank Ruhl Libre", serif; }

.header-percent {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header-percent-img {
    width: 25%; }
  .header-percent-text {
    text-transform: uppercase;
    font-size: 1rem; }
    @media screen and (min-width: 768px) {
      .header-percent-text {
        padding-top: 1rem;
        font-size: 2rem;
        letter-spacing: 0.1rem;
        padding-bottom: 10rem; } }

.logo {
  width: 20%; }
  @media screen and (min-width: 768px) {
    .logo {
      width: 10%; } }
  .logo-text {
    font-size: 1rem;
    text-transform: uppercase; }
    @media screen and (min-width: 768px) {
      .logo-text {
        padding-left: 0.8rem;
        font-size: 1.6rem; } }
  .logo-container {
    padding-top: 1rem;
    padding-left: 1rem;
    color: white;
    display: flex;
    flex-direction: column; }

.sale {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .sale {
      padding-bottom: 0;
      padding-top: 0; } }
  @media screen and (min-width: 768px) {
    .sale-container-group {
      display: flex;
      flex-direction: row; } }
  @media screen and (min-width: 768px) {
    .sale-container-text {
      padding-top: 18rem;
      padding-right: 14rem;
      font-size: 2rem; } }
  @media screen and (min-width: 768px) {
    .sale-container-text:before {
      top: 75%;
      bottom: -50%;
      position: absolute;
      content: " ";
      width: 3px;
      background-color: lightgray;
      left: 60%; } }
  .sale-tires {
    padding-top: 1rem;
    width: 30%;
    margin-left: auto; }
    @media screen and (min-width: 768px) {
      .sale-tires {
        width: 30%;
        height: 30%;
        margin: 0;
        padding-top: 1rem;
        padding-right: 6rem; } }
  .sale-off {
    display: inline-block;
    background: #00baff;
    color: white;
    padding: 0.6rem 1rem 0.6rem 1rem; }
    @media screen and (min-width: 768px) {
      .sale-off {
        padding: 0.6rem 2rem 0.6rem 2rem; } }
  .sale-title {
    padding-bottom: 1rem;
    color: #d92e2e; }
  .sale-text {
    padding: 0.4rem 4rem;
    line-height: 1.6; }
    .sale-text-red {
      color: #d92e2e; }
    @media screen and (min-width: 768px) {
      .sale-text {
        padding-bottom: 1.5rem;
        font-size: 1.6rem; } }
  .sale-space {
    padding-bottom: 1rem; }
    @media screen and (min-width: 768px) {
      .sale-space {
        padding: 0; } }
  .sale-line {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 85%;
    margin: 0 auto 0 auto; }
    @media screen and (min-width: 768px) {
      .sale-line {
        display: none; } }
  .sale-info {
    display: flex;
    flex-direction: column; }
    .sale-info-container {
      padding-bottom: 2rem; }
    .sale-info-row {
      display: flex;
      justify-content: center; }
      @media screen and (min-width: 768px) {
        .sale-info-row {
          justify-content: flex-end;
          padding-right: 7rem;
          padding-bottom: 4rem; } }
    .sale-info-check {
      padding-right: 1rem;
      width: 8%;
      height: 8%; }
      @media screen and (min-width: 768px) {
        .sale-info-check {
          width: 6%;
          height: 6%; } }
    .sale-info-text {
      padding-top: 0.8rem;
      padding-right: 1rem;
      text-transform: uppercase; }
      @media screen and (min-width: 768px) {
        .sale-info-text {
          padding-top: 2.5rem; } }

.deal {
  background: radial-gradient(circle, #f03d25 0%, #ed4a48 45%, #e32626 100%);
  padding-top: 2rem;
  padding-bottom: 2rem; }
  @media screen and (min-width: 768px) {
    .deal {
      padding-top: 8rem;
      padding-bottom: 2rem; } }
  .deal strong {
    text-transform: uppercase;
    padding-left: 0.8rem; }
  .deal a {
    text-decoration: none; }
  .deal span {
    color: white; }
  .deal-text {
    padding-top: 1rem;
    color: white;
    line-height: 1.6; }
    @media screen and (min-width: 768px) {
      .deal-text {
        font-size: 1.1rem;
        padding-right: 30%; } }
  @media screen and (min-width: 768px) {
    .deal-title {
      font-size: 2rem;
      padding-bottom: 1rem; } }
  .deal-container-text {
    padding: 2rem; }
    @media screen and (min-width: 768px) {
      .deal-container-text {
        padding-left: 50%;
        padding-right: 4rem; } }
  .deal-container-img img {
    width: 30%;
    float: left;
    padding-right: 1rem; }
    @media screen and (min-width: 768px) {
      .deal-container-img img {
        width: 45%;
        position: absolute;
        top: 208%;
        left: 0;
        transform: translate(0, -120%);
        float: none; } }
  .deal-container-boxes {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around; }
    @media screen and (min-width: 768px) {
      .deal-container-boxes {
        justify-content: flex-start;
        font-size: 1.3rem; } }
    .deal-container-boxes-icon {
      padding-left: 0.8rem;
      width: 23%; }
    .deal-container-boxes-one {
      color: white;
      padding: 1rem; }
      @media screen and (min-width: 768px) {
        .deal-container-boxes-one {
          padding-left: 0;
          padding-right: 7rem; } }
    .deal-container-boxes-two {
      color: white;
      background: #9c1f23;
      padding: 1rem; }

.advantage-table {
  white-space: nowrap;
  border-collapse: collapse; }
  .advantage-table-row {
    display: block; }
    .advantage-table-row:not(:last-child) {
      border-bottom: 1px solid lightgray; }
      @media screen and (min-width: 768px) {
        .advantage-table-row:not(:last-child) {
          border-bottom: 3px solid lightgray; } }
  .advantage-table-data {
    padding: 10%; }
    @media screen and (min-width: 768px) {
      .advantage-table-data {
        padding: 5%; } }
    .advantage-table-data:not(:first-child) {
      border-left: 1px solid lightgray; }
      @media screen and (min-width: 768px) {
        .advantage-table-data:not(:first-child) {
          border-left: 3px solid lightgray; } }

.advantage-img {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .advantage-img {
      width: 100%; } }

.advantage-container-one {
  display: block;
  width: 100%;
  height: 20rem;
  position: relative; }
  @media screen and (min-width: 768px) {
    .advantage-container-one {
      width: 65%; } }
  .advantage-container-one img {
    width: 100%; }
  .advantage-container-one strong {
    color: #d92e2e;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .advantage-container-one-text {
    text-transform: uppercase;
    text-align: center; }
  .advantage-container-one em {
    background: black;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -66%); }
  .advantage-container-one span {
    color: white; }

@media screen and (min-width: 768px) {
  .advantage-container-two {
    position: absolute;
    top: 220%;
    left: 66%; } }

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 24.6rem; } }

.footer-img {
  width: 100%; }

.footer-container {
  position: relative; }
  .footer-container strong {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: -5.6rem;
    left: 50%;
    transform: translate(-50%, 0); }
    @media screen and (min-width: 768px) {
      .footer-container strong {
        top: -25rem; } }

.footer-logo {
  width: 30%;
  position: absolute;
  top: -10rem;
  left: 50%;
  transform: translate(-50%, 0); }
  @media screen and (min-width: 768px) {
    .footer-logo {
      width: 10%;
      top: -30rem; } }
