.deal {
  background: radial-gradient(
    circle,
    rgba(240, 61, 37, 1) 0%,
    rgba(237, 74, 72, 1) 45%,
    rgba(227, 38, 38, 1) 100%
  );
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media screen and (min-width: 768px) {
    padding-top: 8rem;
    padding-bottom: 2rem;
  }
  strong {
    text-transform: uppercase;
    padding-left: 0.8rem;
  }
  a {
    text-decoration: none;
  }
  span {
    color: white;
  }
  &-text {
    padding-top: 1rem;
    color: white;
    line-height: $default-line-height;
    @media screen and (min-width: 768px) {
      font-size: 1.1rem;
      padding-right: 30%;
    }
  }
  &-title {
    @media screen and (min-width: 768px) {
      font-size: 2rem;
      padding-bottom: 1rem;
    }
  }
  &-container {
    &-text {
      padding: 2rem;
      @media screen and (min-width: 768px) {
        padding-left: 50%;
        padding-right: 4rem;
      }
    }
    &-img {
      img {
        width: 30%;
        float: left;
        padding-right: 1rem;
        @media screen and (min-width: 768px) {
          width: 45%;
          position: absolute;
          top: 208%;
          left: 0;
          transform: translate(0, -120%);
          float: none;
        }
      }
    }
    &-boxes {
      padding-top: 2rem;
      display: flex;
      justify-content: space-around;
      @media screen and (min-width: 768px) {
        justify-content: flex-start;
        font-size: 1.3rem;
      }
      &-icon {
        padding-left: 0.8rem;
        width: 23%;
      }
      &-one {
        color: white;
        padding: 1rem;
        @media screen and (min-width: 768px) {
          padding-left: 0;
          padding-right: 7rem;
        }
      }
      &-two {
        color: white;
        background: #9c1f23;
        padding: 1rem;
      }
    }
  }
}
