.footer {
  @media screen and (min-width: 768px) {
    padding-top: 24.6rem;
  }
  &-img {
    width: 100%;
  }
  &-container {
    position: relative;
    strong {
      color: white;
      text-transform: uppercase;
      position: absolute;
      top: -5.6rem;
      left: 50%;
      transform: translate(-50%, 0);
      @media screen and (min-width: 768px) {
        top: -25rem;
      }
    }
  }
  &-logo {
    width: 30%;
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translate(-50%, 0);
    @media screen and (min-width: 768px) {
      width: 10%;
      top: -30rem;
    }
  }
}
