.logo {
  width: 20%;
  @media screen and (min-width: 768px) {
    //change size in photoshop later
    width: 10%;
  }

  &-text {
    font-size: $small-font-size;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      padding-left: 0.8rem;
      font-size: 1.6rem;
    }
  }
  &-container {
    padding-top: 1rem;
    padding-left: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
  }
}
