//make button smaller - this one is for larger screens

.btn-shop {
  text-decoration: none;
  font-size: $small-font-size;
  background: #d92e2e;
  color: white;
  border-radius: 25px;
  border: 1px solid white;
  // display: inline-block;
  padding: 5px 20px;

  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
//for desktop
// .btn-shop {
//   text-decoration: none;
//   font-size: 1.6rem;
//   background: #d92e2e;
//   color: white;
//   border-radius: 25px;
//   border: 2px solid white;
//   display: inline-block;
//   padding: 15px 55px;
//   margin-top: 5rem;

//   // /* maybe use flexbox instead. Less hacky but more markup */
//   // position: relative;
//   // float: right;
// }
