//make button smaller - this one is for larger screens

.btn-shop {
  text-decoration: none;
  font-size: $small-font-size;
  background: #d92e2e;
  color: white;
  border-radius: 25px;
  border: 1px solid white;
  // display: inline-block;
  padding: 5px 20px;

  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  @media screen and (min-width: 768px) {
    font-size: 1.6rem;
    border: 2px solid white;
    padding: 15px 55px;
    top: 2.5rem;
    right: 2.5rem;
  }
}
